script:
  - bundle install
  - bundle exec optimal-rspec
env:
  global:
    - CI_NODE_TOTAL=3
  jobs:
    - CI_NODE_INDEX=0
    - CI_NODE_INDEX=1
    - CI_NODE_INDEX=2

notifications:
  email:
    on_success: never
    on_failure: always
