version: 2.1

jobs:
  test:
    docker:
      - image: circleci/ruby:2.6.3
    parallelism: 3
    environment:
      - RAILS_ENV: test
    steps:
      - checkout
      - run: gem install bundler -v '2.1.4'
      - run: bundle install
      - run: bundle exec optimal-rspec spec/

workflows:
  version: 2
  test:
    jobs:
      - test

